vbox#unified-extensions-area {
  margin-left: -5px;
}
vbox#unified-extensions-area > toolbaritem > .unified-extensions-item-action-button{
    height: 63px !important;
}
vbox#unified-extensions-area .unified-extensions-item-action-button > .toolbarbutton-badge-stack > image{
   position: relative;
   right: 10% !important;
}
vbox#overflowed-extensions-list {
  margin-left: -5px;
}
vbox#overflowed-extensions-list > toolbaritem > .unified-extensions-item-action-button{
    height: 63px !important;
}
vbox#overflowed-extensions-list .unified-extensions-item-action-button > .toolbarbutton-badge-stack > image{
   position: relative;
   right: 10% !important;
}
vbox.unified-extensions-list > .toolbaritem-combined-buttons vbox {
    margin-left: -5px !important;
}
#unified-extensions-view{
    width: 355px !important;
}

#unified-extensions-view:hover 
.unified-extensions-item-menu-button.subviewbutton{ 
    visibility: visible !important;
    transition: var(--hovering-speed) !important;
    -moz-margin-end: initial !important;
    -moz-margin-start: -7px !important;
}
#unified-extensions-area > toolbaritem > .unified-extensions-item-row-wrapper > .unified-extensions-item-action-button{
    height: 60px !important;
}
#unified-extensions-area > toolbaritem > .unified-extensions-item-row-wrapper > .unified-extensions-item-menu-button {
    margin-top: 10px !important;
}
#unified-extensions-panel toolbaritem.unified-extensions-item {
  width:345px !important;
  height: 75px;
  margin-block: initial !important;
}
#unified-extensions-panel toolbarbutton.unified-extensions-item-action-button > image{
    position: relative;
    right: 1% !important;
}
.unified-extensions-item-menu-button.subviewbutton > .toolbarbutton-icon{
    margin-inline-start: initial !important;
}
.unified-extensions-item-menu-button.subviewbutton{
 width: 35px !important;   
}
.unified-extensions-item-menu-button.subviewbutton .toolbarbutton-icon{
    margin-left: -7px !important;
}
/*  Extension menu option button mod */
#unified-extensions-view .unified-extensions-item-menu-button.subviewbutton{
    visibility: hidden !important;
    transition: all var(--animation-speed) !important;
    -moz-margin-end: -3.2em !important;
}


#unified-extensions-view .unified-extensions-item-name, 
#unified-extensions-view .unified-extensions-item-message {
    padding-inline-start: 0.5em !important;
    width: 21em !important;
}
.unified-extensions-item-menu-button.subviewbutton{
    padding-inline-end: revert !important;
}
.unified-extensions-list .toolbaritem-combined-buttons.unified-extensions-item {
  margin: 3px !important;
  height: 63px !important;
  width: 345px !important;
}
#unified-extensions-button[open]{
  background-color: var(--toolbarbutton-active-background) !important;
}
/*#unified-extensions-button[open]:hover{
  background-color:var(--toolbarbutton-hover-background) !important;
}*/
.unified-extensions-item-action-button[open]{
    background: var(--toolbarbutton-hover-background) !important;
}
.panel-subview-body > .identity-color-turquoise > .toolbarbutton-icon{
    fill:var(--identity-tab-color) !important;
}
.panel-subview-body > .identity-color-green > .toolbarbutton-icon{
    fill:var(--identity-tab-color) !important;
}
.panel-subview-body > .identity-color-orange > .toolbarbutton-icon{
    fill:var(--identity-tab-color) !important;
}
.panel-subview-body > .identity-color-pink > .toolbarbutton-icon{
    fill:var(--identity-tab-color) !important;
}
.panel-subview-body > .identity-color-purple > .toolbarbutton-icon{
    fill:var(--identity-tab-color) !important;
}
.panel-subview-body > .identity-color-red > .toolbarbutton-icon{
    fill:var(--identity-tab-color) !important;
}
.panel-subview-body > .identity-color-yellow > .toolbarbutton-icon{
    fill:var(--identity-tab-color) !important;
}
.panel-subview-body > .identity-color-white > .toolbarbutton-icon{
    fill:var(--identity-tab-color) !important;
}
.panel-subview-body > .identity-color-blue > .toolbarbutton-icon{
    fill:var(--identity-tab-color) !important;
}
.all-tabs-item toolbarbutton.all-tabs-container-indicator::before{
    background: var(--identity-vertical-tab-color) !important;
}
@media (prefers-color-scheme: light){
    #userContext-label{
        color:var(--toolbar-color) !important;
    }
}