:root {
    --firefoxcss-tab-speaker-icon-color: hsl(0, 0%, 100%);
    --firefoxcss-tab-speaker-hover-bg-color: hsla(0, 0%, 80%);
    --firefoxcss-tab-speaker-icon-hover-color: hsl(0, 0%, 10%);
    --tabstrip-min-height: 40px !important;
}

tab[visuallyselected] .tab-background::before,
tab[visuallyselected] .tab-background::after {
    content: "" !important;
    display: inline !important;
    position: absolute !important;
    width: var(--tab-corner-rounding) !important;
    height: var(--tab-corner-rounding) !important;
    bottom: -1px !important;
    pointer-events: none !important;
    background-color: var(--transparent-color) !important;
    transition: var(--animation-speed) !important;
}
#TabsToolbar #firefox-view-button[open] > .toolbarbutton-icon:-moz-lwtheme, .tab-background[selected]:-moz-lwtheme {
    outline:none !important;
}
#TabsToolbar {
  --toolbarbutton-inner-padding: calc((var(--tab-min-height) - 16px) / 2) !important;
}
#tabbrowser-tabs {
  &[orient="horizontal"] {
    --tab-overflow-pinned-tabs-width: 0px;
    padding-inline: var(--tab-overflow-pinned-tabs-width) 0;
    --tab-min-width: 76px;
  }
    &[movingtab] {
      padding-bottom: 0px !important;
      margin-bottom: 0px !important;
    }
}
:root {
  &[lwtheme] {
    --tab-selected-outline-color: none !important;
  }
}
#tabbrowser-arrowscrollbox-periphery {
  margin-left: 6px;
}
tab[visuallyselected] .tab-background::before {
    border-bottom-right-radius: var(--tab-corner-rounding) !important;
    transform: translateX(calc(-1 * var(--tab-corner-rounding))) !important;
    box-shadow: 4px 4px 4px 4px var(--toolbar-bgcolor) !important;
    transition: var(--animation-speed) !important;
}

tab[visuallyselected] .tab-background::after {
    border-bottom-left-radius: var(--tab-corner-rounding) !important;
    right: 0px !important;
    transform: translateX(calc(var(--tab-corner-rounding) + 1px)) !important;
    box-shadow: -4px 4px 4px 4px var(--toolbar-bgcolor) !important;
    transition: var(--animation-speed) !important;
}
.titlebar-spacer[type="pre-tabs"] {
    border-inline-end: 0px !important;
    width: 0px !important;
}
scrollbox[part="scrollbox"][flex="1"][orient="horizontal"] {
    padding-left: 12px !important;
}


[sizemode="maximized"] [first-visible-tab] {
    margin-left: -12px !important;
}

[sizemode="maximized"] [first-visible-tab] stack {
    margin-left: 12px !important;
}

.tab-background, .tab-loading-burst  {
    border-radius: var(--tab-corner-rounding) var(--tab-corner-rounding) 0px 0px !important;
    margin: -1px !important;
}

tab:not(:active) .tab-background {
    /*transition: background-color var(--animation-speed) !important;*/
}


:root[uidensity="compact"] {
    --tab-min-height: 31px !important;
}

tab:not([selected]):hover .tab-background {
    background-color: var(--toolbarbutton-hover-background) !important;
}

tab {
    min-width: 1px !important;
    clip-width: 1px !important;
    padding-bottom: 1px !important
}
tab[beforehovered],
tab:not([selected]):hover{
    border: none !important;
}

tab[beforeselected-visible]{
    border:none !important;
}

.tab-line {
    display: none !important;
}

tab:not([beforeselected-visible])::after {
    margin-top: 4px !important;
    margin-bottom: 4px !important;
    transition: border-color var(--animation-speed), margin-top var(--animation-speed) !important;
}
tab[beforehovered]::after,
tab:hover::after {
    border-color: var(--transparent-color) !important;
    margin-top: 4px !important;
}

#navigator-toolbox {
    --tabs-border-color: var(--transparent-color) !important;
}

tab[visuallyselected] .tab-background {
        box-shadow: 0px 3px 12px -5px black !important;
}
[last-visible-tab] {
    margin-right: calc(var(--tab-corner-rounding)) !important; /* fix unexpected tab overflow */
}
.tab-context-line {
    transform:scaleX(0.9);
    transition:var(--container-context-line-speed-animation) !important;
    margin: 1.2px var(--inline-tab-padding) 0 !important;
}
.tabbrowser-tab:is([visuallyselected], [multiselected]){
    color:transparent !important;
}

.tab-background:is([selected], [multiselected]){
    background-color:var(--toolbar-bgcolor) !important;        
}

.tab-content {
    color: white !important;
}
tab:not([selected]):hover .tab-context-line{
    transform:scaleX(0.99);
    -moz-transition: 0.7s !important;
    overflow-x: hidden !important;
    margin: 1.2px var(--inline-tab-padding) 0 !important;
}
tab[visuallyselected] .tab-context-line{
    transform:scaleX(0.99);
    margin: 1.2px var(--inline-tab-padding) 0 !important;
    color: red !important;
}

#tabbrowser-tabs:not([orient="vertical"]) .tabbrowser-tab:not([pinned]) .tab-icon-overlay:not([crashed]) {
  &:is([soundplaying], [muted], [activemedia-blocked]) {
    fill: white !important;
    background-color: transparent !important;
    border: none !important;
    transform: scale(1.4);
    transition: transform 200ms ease-in-out, fill 100ms ease-in-out,
      background-color 100ms ease-in-out !important;
    filter: drop-shadow(-1px 1px 1px light-dark(#0000002e, #00000052));
    &:hover {
      background-color: var(--toolbarbutton-hover-background) !important;
      color: var(--lwt-toolbar-field-color, black) !important;
      fill: white !important;
      border: none !important;
      transform: scale(1.1);
      transition: transform 200ms ease-in-out, fill 100ms ease-in-out,
        background-color 100ms ease-in-out, filter 100ms ease-in-out !important;
    }
  }
}

#tabbrowser-tabs:not([orient="vertical"]) .tabbrowser-tab[pinned] .tab-icon-overlay:not([crashed]) {
  &:is([soundplaying], [muted], [activemedia-blocked]) {
    background-color: #0000002e !important;
    backdrop-filter: blur(6px);
    fill: var(--firefoxcss-tab-speaker-icon-color) !important;
    border: 1px solid #ffffff29 !important;
    transition: transform 100ms ease-in-out, fill 100ms ease-in-out,
      background-color 100ms ease-in-out;

    &:hover {
      fill: var(--firefoxcss-tab-speaker-icon-color) !important;
      background-color: transparent !important;
      border: 1px solid #ffffff29 !important;
      transition: transform 100ms ease-in-out, fill 100ms ease-in-out,
        background-color 100ms ease-in-out !important;
      transform: scale(1.3) translate(-8%, 14%);
      transform-origin: center !important;
    }
  }
}

#tabbrowser-tabs[orient="vertical"] .tabbrowser-tab .tab-icon-overlay:not([crashed]) {
  &:is([soundplaying], [muted], [activemedia-blocked]) {
    background-color: #0000002e !important;
    backdrop-filter: blur(6px);
    fill: var(--firefoxcss-tab-speaker-icon-color) !important;
    border: 1px solid #ffffff29 !important;
    transition: transform 100ms ease-in-out, fill 100ms ease-in-out,
      background-color 100ms ease-in-out;

    &:hover {
      fill: var(--firefoxcss-tab-speaker-icon-color) !important;
      background-color: transparent !important;
      border: 1px solid #ffffff29 !important;
      transition: transform 100ms ease-in-out, fill 100ms ease-in-out,
        background-color 100ms ease-in-out !important;
      transform: scale(1.3) translate(-8%, 14%);
      transform-origin: center !important;
    }
  }
}
.tab-background {
  &[multiselected] {
    outline-color: transparent !important;
    background: background: rgba(0,0,0,0.5); !important;
  }
}

#TabsToolbar{
   --lwt-tab-line-color: var(--transparent-color) !important;
}
.tab-close-button {
    transition: fill-opacity var(--animation-speed) !important;
}
:root[uidensity="touch"] tab {
    height: 40px !important;
}
:root[uidensity="touch"] #tabs-newtab-button {
    margin-left: -5px !important;
    margin-bottom: 2px !important;
    padding-right: 3px !important;
    padding-left: 3px !important;
    padding-bottom: 1px !important;
}
.tab-background:is([selected], [multiselected]):-moz-lwtheme {
  border: hidden !important;
}
.tabbrowser-tab[usercontextid] > .tab-stack > .tab-background > .tab-context-line {
  background: var(--identity-icon-color) !important;
  height: 3.5px !important;
  border-radius: 2px !important;
}
.tab-throbber {
    @media (prefers-reduced-motion: no-preference) {
    :root[sessionrestored] & {
      &[progress]::before {
        fill: var(--toolbar-color) !important;
        opacity: 1;
      }
     }
    }
}
.tab-throbber {
  @media (prefers-reduced-motion: no-preference) {
    :root[sessionrestored] & {
      &[busy] {
        &::before {
          content: "";
          position: absolute;
          background-image: url("chrome://browser/skin/tabbrowser/loading.svg");
          background-position: left center;
          background-repeat: no-repeat;
          width: 480px;
          height: 100%;
          animation: tab-throbber-animation 1.05s steps(30) infinite;
          -moz-context-properties: fill;
          fill: var(--toolbar-color) !important;
          opacity: 0.7;
        }
      }
    }
  }
}

@media(prefers-color-scheme:light){
    :root {
        --firefoxcss-tab-speaker-icon-color: hsl(0, 0%, 10%);
        --firefoxcss-tab-speaker-hover-bg-color: hsla(0, 0%, 20%);
        --firefoxcss-tab-speaker-icon-hover-color: hsl(0, 0%, 100%);
    }
    .tab-content {
        color: var(--toolbar-color) !important;
    }
}